mixin item()
  <div class="block_item  sara10 timesale" data-bic="BR12721F0152">
    <span class="block_campaign" style="display: none;">sara10 timesale</span>
    <div class="wrap_icon">
      <span class="icon--new">NEW</span> </div>
    <div>
      <a href="https://store.world.co.jp/brand/indivi/item/BR12721F0152?areaid=sp127_indivi&amp;link_id=127_M_newarrival" class="search-result__item--link">
        <p class="search-result__item--photo"> <span class="icon_topright"></span> <img src="https://store.world.co.jp/img/item/BR127/BR12721F0152/BR12721F0152_m1_c104.jpg" alt="インディヴィ(INDIVI)の【洗える/日本製】ドルマンフォルムトップス カットソー" class="gu_main_img">
          </p> <span class="wrap_description">
          <p class="txt_brand-name">INDIVI</p>
        <p class="txt_item-name"><span>【洗える/日本製】ドルマンフォルムトップス</span></p>
        </span>
      </a>
    </div>
    <div class="wrap_price">
      <p class="txt_retail-price">¥11,990 </p>
    </div>
    <div data-item-id="WOSBR12721F0152" class="zv-summary" data-site-id="e875613b-e28d-4b6e-bfe5-54bfcc2704ac" data-questionnaire-id="114" data-item-unit="item_group_id"> </div> <span class="block_campaign2"><em class="sara10">TIME SALE 10%OFF(23:59まで)</em><em class="timesale">TIME SALE</em></span>
    <div class="popup-box" style="z-index: 10; display: none;">
      <ul class="column_2 size_4">
        <li><a href="https://store.world.co.jp/brand/indivi/item/BR12721F0152?clr_id=101&amp;areaid=sp127_indivi&amp;link_id=127_M_newarrival"><img src="https://store.world.co.jp/img/item/BR127/BR12721F0152/BR12721F0152_m1_c101.jpg" class="popup-box__image"></a></li>
        <li><a href="https://store.world.co.jp/brand/indivi/item/BR12721F0152?clr_id=102&amp;areaid=sp127_indivi&amp;link_id=127_M_newarrival"><img src="https://store.world.co.jp/img/item/BR127/BR12721F0152/BR12721F0152_m1_c102.jpg" class="popup-box__image"></a></li>
        <li><a href="https://store.world.co.jp/brand/indivi/item/BR12721F0152?clr_id=103&amp;areaid=sp127_indivi&amp;link_id=127_M_newarrival"><img src="https://store.world.co.jp/img/item/BR127/BR12721F0152/BR12721F0152_m1_c103.jpg" class="popup-box__image"></a></li>
        <li><a href="https://store.world.co.jp/brand/indivi/item/BR12721F0152?clr_id=104&amp;areaid=sp127_indivi&amp;link_id=127_M_newarrival"><img src="https://store.world.co.jp/img/item/BR127/BR12721F0152/BR12721F0152_m1_c104.jpg" class="popup-box__image"></a></li>
      </ul>
    </div>
  </div>