mixin item()
  <div class="block_item" data-bic="BR12721S0934">
    <span class="block_campaign" style="display: none;"></span>
    <div class="wrap_icon"></div>
    <div>
      <a href="https://wos.fashion-co-lab.jp/brand/indivi/item/BR12721S0934?areaid=sp127_indivi&amp;link_id=127_M_recommend02">
        <span class="wrap_img">
          <p class="icon_topright"></p>
          <img src="https://wos.fashion-co-lab.jp/img/item/BR127/BR12721S0934/BR12721S0934_l1_c104.jpg" alt="インディヴィ(INDIVI)の【洗える】リラクシーサテンギャザーワイドパンツ" width="100%">
        </span>
        <div class="wrap_description">
          <div class="txt_brand-name">INDIVI</div>
          <p class="txt_item-name">【洗える】リラクシーサテンギャザーワイドパンツ</p>
          <p class="txt_price">¥12,650
          </p>
        </div>
      </a>
    </div>
    <span class="block_campaign2"></span>
  </div>