block var
doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#") 
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="apple-touch-icon" sizes="192x192" href="images/apple-touch-icon.png")  
    block meta
    block font
      // font
    block link
      // style
      link(href=`/pc/css/base.css?` rel='stylesheet' type='text/css')
    block script
      // script
      script(type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js")
    block plugin 
      // plugin
  body
    block content