mixin meta(pageinfo)
  meta(name="description", content=`${pageinfo.desc}`)
  meta(name="keywords", content=`${pageinfo.key}`)
  meta(property="og:title" content="マイローカル")
  meta(property="og:type" content="website")
  meta(property="og:url" content="")
  meta(property="og:image" content="")
  meta(property="og:site_name" content="マイローカルサイト")
  meta(property="og:description" content="マイローカルサイト")
